.btn {

    background-color: blue;

    color: white;

    border: none;

    padding: 10px 20px;

    margin: 10px;

    display: inline-block;

    cursor: pointer;
}

.btn:hover {

    background-color: darkblue;
}